/* Global styling for a modern look */
body {
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364), url('download.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #e0e0e0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Styling the search input */
input[type="text"] {
    padding: 12px;
    width: 350px;
    margin-bottom: 10px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]::placeholder {
    color: #bbb;
}

input[type="text"]:focus {
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
}

/* Enhancing button look */
button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.6);
}

/* Styling the suggestions box */
.suggestions-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 110px;
    width: 350px;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
    border-radius: 5px;
    color: #f4f4f9;
}

.suggestion-item:hover {
    background-color: rgba(0, 123, 255, 0.5);
}

/* Data container styling */
#dataContainer {
    margin-top: 20px;
    max-width: 400px;
    text-align: center;
    color: #ddd;
}

/* Validation styling */
.validation {
    color: red;
    display: none;
    margin-top: 10px;
}

/* Footer Styling */
footer {
    margin-top: 40px;
    text-align: center;
    color: #aaa;
    font-size: 14px;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
    #playerName {
        width: calc(100% - 20px); 
    }

    #fetchButton {
        width: 100%;
        margin-bottom: 20px;
    }

    .suggestions-box {
        width: calc(100% - 40px);
        top: 140px;
    }
}
